* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

h1 {
      color: purple;
      margin: .5rem auto auto 1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.banner {
    display: flex;
    box-shadow: 0 3px 5px black;
}

.linksDiv {
    order: solid red;
}

.link {
    display: inline-block;
    margin: 0 2rem;
    font-family: sans-serif;
    padding: 1rem 3rem;
    transition: .5s;
}

.link:hover {
    background-color: lightgrey;
}

#homeContent {
    text-align: center;
}

#homeMain {
    border: solid grey;
    margin: 1.5rem auto;
    width: 40%;
    padding: 1.5rem;
}

#greeting {
    font-size: xx-large;
}

#mainMessage {
    margin-top: 2rem;
}

#shopContent {
    margin: 2rem auto auto auto;
    text-align: center;
    border: solid black;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    padding: 1.5rem;
    justify-content: center;
    background-color: blanchedalmond;
}

#noCart {
    border: solid black;
    text-align: center;
    width: 60%;
    margin: 4rem auto;
    padding: 1rem;
    font-size: xx-large;
}

#checkout {
    display: flex;
    margin: 2rem;
}

#checkoutButton {
    background-color: orange;
    padding: .5rem;
    border: outset grey;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    cursor: pointer;
}

.black {
    color: black;
}